# PyCharm directories
.idea/
venv/

# Results
maps/current/*
maps/random-starting-points/nc/*
maps/random-starting-points/pa/*
maps/solutions/nc/*
maps/solutions/pa/*

# Replit files
.replit
*.pyc
*.nix
*.sqlite

# Other files
log.txt
test_results.txt